<!DOCTYPE html>
<html>
<head>
    <title>JSHomeWork11-12</title>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./plugin/v-carousel.css">
</head>
<body>
<script type="text/html" id="template">
    <div id="theme" class="<%=theme_name%>">
    <h1><%=text%></h1>
    <div class="container" id="container">
        <div class="carousel-arrow-left" id="arrow-left"><<<</div>
        <div id="my-carousel">
            <ul>
                <% for ( var i = 0; i < image.length; i++ ) { %>
                <li><img src="<%=image[i].url%>"><p><%=image[i].description%></p></li>
                <% } %>
            </ul>
        </div>
        <div class="carousel-arrow-right" id="arrow-right">>>></div>
    </div>
    </div>
</script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="plugin/v-carousel.js"></script>
</body>

</html>