* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../font/LeagueGothicRegular.otf");
    font-family: "LeagueGothic-Regular";
    src: url("../font/LeagueGothic-Regular.otf");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "LeagueGothic-Regular";
    background: url("../img/fone1.png") center top no-repeat;

}
.conteiner {
    width: 320px;
    height: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 516px;
}
.header_logo {
    font-size: 48px;
    font-family: "LeagueGothic-Regular";
    padding-top: 60px;
    position: relative;
    text-align: center;
}
.header_logo p {
    letter-spacing: -0.5px;
    text-shadow: grey 0px 2px 2px;
    margin-left: -16px;
    color: white;
}

.header_logo span {
    text-shadow: none;
    color: rgba(116, 80, 131, 1);
}
.header_menu {
    text-align: center;
}
.header_menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-family: "LeagueGothic-Regular";
    color: white;
    margin-top: 24px;
    padding: 0 6px;
}

.header_menu li {
    display: none;
    list-style: none;
}
li.active {
    display: inline-block;
}
.active a {
    border-bottom: 3px solid #b39ac2;
    margin-right: 14px;
}

.phone {
    display: none;
}
.menu {
    margin-top: 95px;
}
.menu div {
    display: inline-block;
}
.menu_p1 {
    font-size: 37px;
    letter-spacing: -0.49px;
    display: inline-block;
    color: white;
    padding: 26px 20px 0 41px;
    line-height: 1;
    text-shadow: grey 0px 2px 6px;
}
.menu_p2 {
    font-size: 18px;
    display: inline-block;
    color: #dab1ea;
    padding-left: 41px;
    text-shadow: grey 0px 2px 5px;
}
.menu_p3 {
    display: none;
}
.left_img {
    padding-bottom: 6px;
    margin-left: -9px;
}
.right_img {
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 6px;
}
.slider {
    text-align: center;
    padding-top: 78px;
    margin-right: 4px;
}
.slider input {
    display: none;
}
.slider > input + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    cursor: pointer;
    position: relative;
    margin-right: 4px;
    top: 90%;
}
.slider > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}
.slider > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}
.base2 {
    height: 597px;
    background: rgba(116,80,131,1);
    background: -moz-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(116,80,131,1) 41%, rgba(50,37,57,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116,80,131,1)), color-stop(41%, rgba(116,80,131,1)), color-stop(100%, rgba(50,37,57,1)));
    background: -webkit-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(116,80,131,1) 41%, rgba(50,37,57,1) 100%);
    background: -o-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(116,80,131,1) 41%, rgba(50,37,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(116,80,131,1) 0%, rgba(116,80,131,1) 41%, rgba(50,37,57,1) 100%);
    background: linear-gradient(to bottom, rgba(116,80,131,1) 0%, rgba(116,80,131,1) 41%, rgba(50,37,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0 );
    border-top: 1px solid #322539;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.4);
}
.about,.about1, .about2  {
    overflow: hidden;
}
.icon {
    float: left;
    background: url("../img/sprite2.png") no-repeat;
}
.about .icon {
    background-position: -2px 0px;
    width: 29px;
    height: 31px;
    margin-right: 22px;
    margin-left: 24px;
    margin-top: 70px;
}
.about1 .icon {
    background-position: -29px 0px;
    width: 34px;
    height: 29px;
    margin-left: 23px;
    margin-top: 19px;
    margin-right: 17px;
}
.about2 .icon {
    background-position: -62px 3px;
    width: 27px;
    height: 33px;
    margin-right: 20px;
    margin-left: 27px;
    margin-top: 35px;
}
.about .text {
    padding-top: 67px;
    width: 195px;
    height: 103px;
    overflow: hidden;
}
.about1 .text {
    padding: 20px 0 0 0px;
    width: 195px;
    height: 103px;
    overflow: hidden;
}
.about2 .text {
    padding-top: 36px;
    width: 195px;
    height: 103px;
    overflow: hidden;
}
.text {
    font-size: 24px;
    color: white;
}
.about p, .about1 p, .about2 p {
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 25px;
}
.about a, .about1 a, .about2 a {
    float: right;
    font-size: 19px;
    padding-top: 11px;
    padding-right: 34px;
    letter-spacing: -0.2px;
    text-decoration: none;
    text-align: right;
    color: white;
}
.base3 {
    height: 1205px;
    background: #f9f9f9;
}
article p {
    font-family: "OpenSansLight", sans-serif;
    line-height: 20px;
}
.div1 img {
    position: absolute;
    top: 18px;
    left: -25px;
}
.div1 {
    padding: 23px 0 0px 34px;
    position: relative;
    display: inline-block;
    margin: 69px 0 24px 37px;
    width: 227px;
    height: 248px;
    background: white;
}
.div1 h2 {
    display: inline-block;
    color: #828282;
}
.div1 h3 {
    color: #f4d7ff;
    font-size: 24px;
    line-height: 0.8;
    padding-bottom: 7px;
    padding-left: 1px;
}
.div1 p {
    line-height: 24px;
    padding-left: 3px;
    overflow: hidden;
    height: 170px;
    padding-right: 31px;
    letter-spacing: 0.2px;
}
.slider1 {
    text-align: center;
    padding-left: 32px;
}
.slider1 input {
    display: none;
}
.slider1 > input + label {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.8);
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    top: 90%;
}
.slider1 > input + label:hover {
    background: rgba(90, 90, 90, 0.8);
}
.slider1 > input:checked + label {
    background: rgba(90, 90, 90, 0.8);
}
.news h2 {
    font-size: 28px;
    padding: 44px 0 7px 11px;
    letter-spacing: 0.45px;
}
.news {
    position: relative;
}
.news img {
    position: absolute;
    padding-top: 8px;
    padding-left: 12px;
}
.news h3 {
    font-family: "OpenSansLight", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 79px;
    padding-top: 8px;
    letter-spacing: 0.68px;
    line-height: 1.8;
}
.news p {
    padding-left: 77px;
    padding-bottom: 5px;
    color: #646464;
}

.news a {
    float: right;
    text-decoration: none;
    font-size: 18px;
    margin-right: 34px;
    margin-top: 12px;
    color: #646464;
}
.news2 {
    padding-top: 4px;
}
.news3 {
    padding-top: 10px;
}
.brend {
    margin-top: 173px;
}
.bilabong {
    padding-left: 55px;
}
.dc {
    padding-left: 52px;
}
.broom {
    padding-top: 58px;
    padding-left: 63px;
}
.awsm {
    padding-left: 63px;
}
.racl {
    padding-left: 35px;
    padding-bottom: 21px;
}
.vonzipper {
    padding-top: 40px;
    padding-left: 54px;
}
.base4 {
    display: none;
}
footer {
    background: url("../img/fone2.png") center top no-repeat;
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    text-shadow: grey 0px 2px 5px;
}
footer p {
    padding-top: 40px;
    font-family: "OpenSansLight", sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 82px;
    letter-spacing: -0.43px;
}
footer span {
    font-family: "OpenSansLight", sans-serif;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 2px;
}
.footer_menu {
    display: none;
}

@media only screen and (max-width: 765px) and (min-width: 480px) {
    .conteiner {
        min-width: 480px;
        height: 548px;
    }
    .header_logo p {
        margin-left: -19px;
    }
    .header_menu {
        position: absolute;
        margin: 12px 120px 0 108px;
        border: 1px solid;
        border-radius: 8px;
        width: 244px;
        height: 248px;
        background: rgba(54, 41, 62, 0.8);
        padding-top: 8px;
        overflow: hidden;
    }
    .header_menu li {
        height: 43px;
        display: block;
        line-height: 32px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(54, 41, 62, 0.8);
    }
    .header_menu a {
        margin-top: 0;
        margin-right: 0;
    }
    li.select {
        background: rgba(54, 41, 62, 0.9);
        height: 39px;
        border-bottom: 3px solid #b39ac2;
    }
    .menu {
        height: 202px;
        margin-top: 151px;
        text-align: left;
    }
    .phone {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background: url("../img/phone.png") -969px center no-repeat;
        margin-top: 70px;
        height: 313px;
        z-index: -1;
    }
    .menu_p1 {
        padding-left: 11px;
    }
    .menu_p2 {
        padding-left: 11px;
    }
    .left_img {
        margin: 0 0 0 -9px;
        padding-right: 4px;
    }
    .right_img {
        margin: 0 0 0 185px;
    }
    .slider {
        margin: 0 5px 0 0;
    }
    .about .icon {
        margin: 78px 0 0px 24px;
    }
    .about .text {
        padding: 75px 0 0 21px;
        width: 377px;
    }
    .about1 .icon {
        margin: 20px 0 0px 24px;
    }
    .about1 .text {
        padding: 20px 0 0 16px;
        width: 377px;
    }
    .about2 .icon {
        margin: 23px 0 0 24px;
    }
    .about2 .text {
        padding: 24px 0 0 23px;
        width: 377px;
    }
    .div1 {
        width: 380px;
        height: 250px;
        padding-left: 37px;
        padding-top: 25px;
        margin-bottom: 22px;
    }
    .div1 img {
        left: -26px;
    }
    .div1 h2 {
        font-size: 30px;
    }
    .div1 h3 {
        display: inline-block;
        font-size: 30px;
        padding-bottom: 0px;
    }
    .div1 p {
        height: 200px;
        padding: 12px 0 0 0px;
        letter-spacing: -0.3px;
        width: 353px;
    }
    .slider1 {
        padding-left: 0px;
    }
    .news h2 {
        padding-left: 75px;
    }
    .news img {
        padding-left: 75px;
        padding-top: 7px;
    }
    .news h3 {
        padding-left: 141px;
        padding-top: 7px;
    }
    .news p {
        padding-left: 140px;
    }
    .news2 img {
        padding-left: 75px;
        padding-top: 11px;
    }
    .news2 h3 {
        padding-left: 141px;
        padding-top: 11px;
    }
    .news3 img {
        padding-top: 4px;
    }
    .news3 h3 {
        padding-left: 141px;
        padding-top: 3px;
    }
    .news a {
        margin-top: 14px;
        margin-right: 69px;
    }
    .brend {
        margin-top: 102px;
    }
    .bilabong {
        padding-left: 75px;
    }
    .broom {
        padding-left: 52px;
    }
    .awsm {
        padding-left: 58px;
    }
    .racl {
        padding-left: 58px;
        padding-bottom: 21px;
    }
    .vonzipper {
        padding-top: 25px;
        padding-left: 53px;
        padding-bottom: -1px;
    }
    .base4 {
        height: 670px;
        background: #ececec;
        display: block;
    }
    .base3 {
        height: 1019px;
    }
    .content h2 {
        font-weight: lighter;
        padding: 78px 0 0 9px;
    }
    .content p, .content2 p, .content3 p  {
        font-family: "OpenSansLight", sans-serif;
        padding-top: 9px;
        padding-left: 10px;
        width: 452px;
        line-height: 24px;
        color: #828282;
    }
    .content2 h2 {
        font-weight: lighter;
        padding: 52px 0 0 9px;
}
    .content3 h2 {
        font-weight: lighter;
        padding: 55px 0 0 9px;
    }
    .footer_menu {
        display: inline-block;
    }
    .footer_menu li {
        display: inline-block;
        margin-top: 43px;
        margin-right: 9px;
        margin-left: 11px;
    }
    .footer_menu a {
        text-decoration: none;
        color: white;
        font-size: 21px;
    }
    footer p {
        padding-top: 31px;
        padding-left: 162px;
    }
}

@media only screen and (max-width: 960px) and (min-width: 768px) {
    .conteiner {
        width: 768px;
        height: 100%;
        text-align: left;
    }

    [class*="about"] {
        display: inline-block;

    }
    .header_logo {
        text-align: left;
        padding-left: 26px;
        padding-top: 61px;
    }
    .header_logo span {
        padding-left: 3px;
    }
    .header_menu {
        text-align: left;
    }
    .header_menu a {
        margin-right: 32px;
        padding-left: 11px;
        margin-top: 22px;
    }
    .header_menu li {
        display: inline-block;
    }
    .phone {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background: url("../img/phone2.png") -825px center no-repeat;
        margin-top: 50px;
        height: 432px;
        z-index: -1;
    }
    .menu_p3 {
        display: block;
    }
    .menu {
        margin-top: 143px;
    }
    .menu_p1 {
        font-size: 48px;
        padding: 27px 0 0 21px;
    }
    .menu_p2 {
        font-size: 25px;
        padding-top: 5px;
        padding-left: 18px;
        letter-spacing: -0.28px;
    }
    .menu_p3 {
        font-family: "OpenSansLight", sans-serif;
        color: white;
        width: 275px;
        padding-left: 18px;
        padding-top: 4px;
        line-height: 1.69;
        letter-spacing: -0.12px;
    }
    .left_img {
        padding-bottom: 68px;
    }
    .right_img {
        padding-left: 427px;
        padding-bottom: 68px;
    }
    .slider {
        margin-left: 391px;
        margin-top: 67px;
    }
    .base2 {
        height: 342px;
    }
    .base1 {
        height: 798px;
    }
    .about .text {
        width: 162px;
        height: 172px;
        padding-top: 75px;
    }
    .about .icon {
        margin-top: 78px;
        margin-right: 21px;
}
    .about1 .icon {
        margin-left: 35px;
        margin-top: 27px;
        margin-right: 18px;
}
    .about2 .icon {
        margin-top: 42px;
        margin-left: 46px;
}
    .about1 .text {
        width: 166px;
        height: 172px;
    }
    .about2 .text {
        width: 166px;
        height: 172px;
    }
    .about a, .about1 a, .about2 a {
        padding-right: 20px;
        font-size: 18px;
        padding-top: 7px;
    }
    .div1 {
        width: 275px;
        height: 245px;
        margin: 99px 0 24px 37px;
        padding: 28px 0 0px 37px;
        position: absolute;
    }
    .div1 h3 {
        padding-bottom: 12px;
    }
    .div1 p {
        height: 143px;
        padding: 0 0 0 0;
        width: 271px;
    }

    .slider1 {
        text-align: left;
        padding-left: 154px;
    }
    .news {
        float: right;
        padding-right: 39px;
        margin-top: 108px;
    }
    .news h2 {
        padding: 0px 0 7px 11px;
        letter-spacing: 0.6px;
    }
    .news2 img {
         padding: 11px 0 0 11px;
     }
    .news2 h3 {
        padding-left: 78px;
        padding-top: 9px;
    }
    .news3 img {
        padding: 5px 0 0 11px;
    }
    .news3 h3 {
        padding-left: 78px;
        padding-top: 4px;
    }
    .news a {
        margin-right: -4px;
        margin-top: 14px;
    }
    .brend {
        margin: 0 auto;
        padding-top: 57px;
        display: inline-block;
        position: relative;
    }
    .bilabong {
        padding-left: 15px;
    }
    .broom {
        padding-left: 52px;
    }
    .racl {
        padding-left: 54px;
    }
    .base4 {
        height: 397px;
        background: #ececec;
        display: block;
    }
    .base3 {
        height: 606px;
    }
    .content h2 {
        font-weight: lighter;
        padding: 100px 0px 0 10px;
    }
    .content p, .content2 p, .content3 p  {
        font-family: "OpenSansLight", sans-serif;
        padding-top: 9px;
        padding-left: 10px;
        padding-right: 46px;
        width: 198px;
        height: 164px;
        line-height: 24px;
        color: #828282;
        display: inline-block;
        overflow: hidden;
        letter-spacing: 0.42px;
    }
    .content2 h2 {
        font-weight: lighter;
        padding: 52px 0 0 20px;
    }
    .content3 h2 {
        font-weight: lighter;
        padding: 54px 0 0 28px;
    }
    .content, .content2, .content3 {
        display: inline-block;
    }
    .footer_menu {
        display: inline-block;
        text-align: left;
        width: 768px;
    }
    .footer_menu ul {
        float: left;
    }
    .footer_menu li {
        display: inline-block;
        margin-top: 43px;
        margin-right: 29px;
        margin-left: 10px;
        /* width: 53px; */
        text-align: left;
    }
    .footer_menu a {
        text-decoration: none;
        color: white;
        font-size: 21px;
    }
    footer p {
        padding-top: 29px;
        text-align: right;
        padding-right: 11px;
    }
}

