* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lucida Sans Typewriter", monospace;
    background: whitesmoke;
}
form {
    margin: 40px;
}
form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: inherit;
}
#first, #last, #add {
    display: none;
    background: #555;
    border: 1px solid grey;
    padding-left: 10px ;
    border-radius: 2px;
    color: white;
    font-size: 12px;
}
a {

    color: #555;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #D01B1B;
}