// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import "src/_styles/mixins";

//common
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: $color_grey_dark;
}

main header {
  text-align: center;
  font-size: 22px;
  margin-top: 35px;
  padding: 0 2px 0 0;
}

figure {
  margin: 0;
  display: inline-block;
}

.container {

  width: 100%;

  .header {
    height: 540px;
    background: $color_grey_dark url(../images/promo.png) no-repeat;
    background-position: -422px -10px;
    background-size: 1139px 552px;

    color: white;
    text-align: center;
    .header__top {

      .header__user {
        display: inline-block;
        margin: 0 auto;
        padding-top: 20px;
        width: 175px;
        text-align: left;

        button {
          background: none;
          border: none;
          margin: 0 auto;
        }
        .header__login {
          width: 65px;
        }
        .header__signup {
          border: 2px solid white;
          margin-left: 5px;
          width: 90px;
          height: 36px;
          border-radius: 18px;
          padding-left: 7px;
        }
      }

      h2 {
        margin-top: 115px;
        font-size: 20px;
        letter-spacing: 1px;
      }
    }

    .header__slogan {
      font-size: 30px;
      text-transform: uppercase;
      margin-top: 27px;
      margin-bottom: 0;
    }

    .header__sloganSmall {
      @include roboto-font-white(18px);
      padding: 0 45px;
      margin-top: 7px;
      margin-bottom: 10px;
      letter-spacing: 0.0px;
      line-height: 23px;
    }

    .header__button {
      margin-top: 3px;
      @include red-button-large();
    }
  }

  .works {
    text-align: center;

    .works__title {
      margin-bottom: 3px;
    }

    .works__item {
      $width: 301px;
      $height: 240px;
      width: $width;
      height: $height;
      margin-top: 10px;
      margin-right: 2px;
      vertical-align: top;
      position: relative;
      border-radius: 3px;
      text-align: left;
      display: inline-block;
      background: $color_grey_dark;

      .works__carousel {
        @include carousel($width, $height)
      }
      .works__arrow {
        display: none;
        cursor: pointer;
      }

      .works__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        button {
          @include red-button-small();
          margin-top: 69px;
          margin-left: 22px;
        }
        h2 {

          font-size: 24px;
          margin: 14px 0 0 20px;
          color: white;
        }

        p {
          @include roboto-font-light(14px);
          margin: 11px 10px 0 20px;
          line-height: 16px;
        }
      }

      &--step2 {
        .works__overlay {
          button {
            margin-left: 21px;
            margin-top: 99px;
          }
        }
      }
    }
  }

  .partners {
    text-align: center;

    .partners__title {
      padding: 0 7px 0 0;
      line-height: 26px;
      margin-bottom: 0;
    }

    .partners__item {
      color: $color_grey_dark;
      margin-top: 15px;
      margin-bottom: 12px;

      figcaption {
        margin-top: 12px;
        margin-right: 2px;
      }

      p {
        @include roboto-font-grey(14px);
        padding: 0 54px 0 50px;
        margin-top: 12px;
        line-height: 17px;
        letter-spacing: 0;
        margin-bottom: 0;
      }
    }
    button {
      @include white-button-large();
      margin-top: 17px;
      margin-right: 4px;
    }
  }

  .ideas {
    text-align: center;
    .ideas__title {
      margin-bottom: 11px;
    }

    .ideas_grid {
      width: 300px;

      margin: 0 auto;
    }
    .ideas__item {
      color: white;
      margin: 0 0 10px 0;
      border-radius: 5px;
      position: relative;

      img {
        width: 300px;
        height: 120px;
        display: block
      }

      figcaption {
        top: 50%;
        left: 50%;
        font-size: 22px;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        width: 300px;
      }

      &--3 {
        figcaption {
          width: 200px;
        }
      }

    }
  }
  .search {
    text-align: center;

    .search__title {
      margin-top: 26px;
    }

    p {
      @include roboto-font-dark(18px);
      margin-top: 8px;
      margin-bottom: 15px;
    }

    input {
      width: 280px;
      height: 40px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $color_grey_light;
      @include roboto-font-grey-2(14px);
      padding: 14px 16px;
      margin-bottom: 0px;
      margin-right: 5px;

    }
    button {
      margin-top: 10px;
      margin-right: 5px;
      @include red-button-large();
    }

  }

  .footer {
    margin-top: 40px;
    text-align: center;
    border-top: solid 4px $color_red;

    .footer__brand {
      color: $color_red;
      letter-spacing: 2.3px;
      margin-right: 2px;
      margin-top: 17px;
      margin-bottom: 11px;
    }

    .footer__company {
      margin-left: 10px;

      header {
        margin-right: 13px;
      }

      a {
        @include roboto-font-grey(14px);
        text-decoration: none;
        color: #666666;
        margin-right: 10px;
      }
    }

    .footer__partenrs {
      margin-top: 13px;
    }

    .footer__design {
      color: $color_grey_light;
      font-size: 10px;

      p {
        letter-spacing: 1px;
        margin-top: 13px;
        margin-bottom: 7px;
      }

      img {
        margin-right: 3px;
      }
    }
  }
}

//fix image backgound small size
@media only screen and (min-width: 700px) {
  .container {
    .header {
      background-position: -337px 0px;
      background-size: 1440px 700px;
    }
  }
}

@media only screen and (min-width: 768px) {

  .container {
    .header {
      height: 700px;
      background-position: -337px 0px;
      background-size: 1440px 700px;

      .header__top {

        overflow: hidden;

        .header__user {
          float: right;
          margin: 18px 39px 0 0;
        }

        h2 {
          margin: 45px 0 0 48px;
          float: left;
        }

      }
      .header__slogan {
        clear: both;
        font-size: 52px;
        margin-top: 140px;
        padding: 0 100px;
        margin-right: 5px;
      }

      .header__sloganSmall {
        font-size: 24px;
        margin-top: 27px;
        margin-right: 3px;
      }

      .header__button {
        margin-top: 26px;
        margin-right: 2px;
      }
    }

    .works {

      .works__title {
        margin-top: 94px;
        margin-left: 9px;
      }

      .works__item {
        $width: 236px;
        $height: 401px;
        width: $width;
        height: $height;

        margin-top: 30px;
        margin-right: 16px;

        .works__carousel {
          @include carousel($width, $height)
        }

        .works__arrow {
          display: block;
          position: absolute;
          top: 40px;

          &--left {
            left: 20px;
          }
          &--right {
            right: 20px;
          }

          &--left2 {
            left: 10px;
          }
          &--right2 {
            right: 10px;
          }
        }
        .works__overlay {

          button {
            margin-top: 213px;
            margin-left: 20px;
          }
          h2 {
            margin: 14px 0 0 18px;
          }

          p {
            margin: 11px 10px 0 18px;
            line-height: 17px;
          }
        }

        &--step2 {
          .works__overlay {
            button {
              margin-top: 260px;
            }
          }
        }

        &--step3 {
          margin-right: 0;
        }
      }
    }

    .partners {
      .partners__title {
        margin-top: 97px;
        margin-left: 2px;
      }
      .partners__group {
        display: inline-block;
        width: 252px;
        margin-top: 17px;
        vertical-align: top;

        .partners__item {
          vertical-align: top;
          height: 231px;
          figcaption {
            margin-top: 16px;
          }
          p {
            padding: 0 17px;
          }
        }
      }
      button {
        margin-top: 29px;
        margin-right: 3px;
      }
    }

    .ideas {
      .ideas__title {
        margin-top: 96px;
        margin-bottom: 34px;
      }
      .ideas_grid {
        width: 768px;
        margin: 0 auto;
      }
      .ideas__item {

        margin: 0 10px 20px 10px;

        img {
          width: 236px;
          height: 311px;
        }

        &--5 {
          img {
            width: 492px;
          }
        }

        &--6 {
          img {
            width: 492px;
          }
        }
      }

    }
    .search {
      .search__title {
        margin-top: 70px;
      }
      p {
        margin-top: 29px;
        margin-bottom: 27px;
      }
      input {
        width: 240px;

      }
      button {
        width: 160px;
        margin-right: 0;
      }

    }

    .footer {
      margin-top: 102px;
      padding-top: 36px;
      .footer__brand {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-right: 66px;
      }
      .footer__company {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-right: 83px;
        header {
          margin-bottom: 12px
        }
        a {
          margin-bottom: 5px;
          text-align: left;
          display: block;
        }
      }
      .footer__partenrs {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        margin-right: 118px;
      }
      .footer__design {
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        p {
          margin-top: 0;
          text-align: right;
        }
      }
    }
  }
}

//fix image backgound small size
@media only screen and (min-width: 1000px) {
  .container {
    .header {
      background-position: 0 0;

    }
  }
}

@media only screen and (min-width: 1440px) {

  .container {
    max-width: 1440px;
    margin: 0 auto;
    .header {
      background-position: 0 0;
      .header__top {
        padding: 0 200px;
        .header__user {
          .header__signup {
            margin-left: 4px;
          }
        }
      }
      .header__slogan {
        padding: 0 450px;
      }
    }

    .works {

      .works__title {
        margin-left: 0;
        margin-right: 1px;
      }

      .works__item {
        $width: 300px;
        $height: 400px;
        width: $width;
        height: $height;

        .works__carousel {
          @include carousel($width, $height)
        }

        .works__arrow {
          top: 155px;

          &--left {
            left: 20px;
          }
          &--right {
            right: 20px;
          }

          &--left2 {
            left: 20px;
          }
          &--right2 {
            right: 20px;
          }
        }

        .works__overlay {
          button {
            margin-top: 230px;
          }
          h2 {
            margin: 15px 0 0 19px;
          }
        }

        &--step2 {
          .works__overlay {
            button {
              margin-top: 260px;
            }
          }
        }
      }
    }

    .partners {
      .partners__title {
        margin-left: 4px;
      }

      .partners__group {
        width: auto;
      }
      .partners__item {
        width: 237px;
        p {
          padding: 0 9px;
        }
      }

      button {
        margin-right: 0;
        width: 192px;
      }
    }

    .ideas {
      padding: 0 100px;

      .ideas__title {
        margin-top: 96px;
        margin-bottom: 34px;
      }

      .ideas_grid {
        width: 960px;
      }

      .ideas__item {

        img {
          width: 300px;
          height: 310px;
        }

        &--5 {
          img {
            width: 620px;
          }
        }

        &--6 {
          img {
            width: 620px;
          }
        }
      }
    }

    .search {
      .search__title {
        margin-top: 75px;
      }
      p {
        margin-top: 30px;
        margin-right: 3px;
        margin-bottom: 27px;
      }
    }

    .footer {
      text-align: left;

      .footer__brand {
        margin-left: 250px;
        margin-right: 81px;
      }

      .footer__company {
        margin-right: 76px;
      }

      .footer__partenrs {
        margin-right: 367px;
      }

      .footer__design {
        p {
          margin-bottom: 8px;
        }
      }
    }

  }
}