@mixin button($height, $width, $color) {
  height: $height;
  width: $width;
  background: $color;
  border-radius: $height/2;

}

@mixin red-button-large() {
  border: none;
  color: white;
  @include button(40px, 280px, #ff4e50)
}

@mixin red-button-small() {
  border: none;
  color: white;
  @include button(20px, 70px, #ff4e50)
}

@mixin white-button-large() {
  border: 3px solid #ff4e50;
  color: #ff4e50;
  @include button(40px, 280px, #FFFFFF)
}