* {
    margin: 0;
    padding: 0;
}

main {
    display: block
}
@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../font/LeagueGothic-Regular.otf");
}

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../font/webfonts/leaguegothic-regular-webfont.eot');
    src: url('../font/webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/webfonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('../font/webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('../font/webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'League Gothic';
    src: url('../font/webfonts/leaguegothic-italic-webfont.eot');
    src: url('../font/webfonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/webfonts/leaguegothic-italic-webfont.woff') format('woff'),
    url('../font/webfonts/leaguegothic-italic-webfont.ttf') format('truetype'),
    url('../font/webfonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;

}
body {
    font-family: "League Gothic", "LeagueGothicRegular", serif;
    background: url("../img/fone1.png") center top no-repeat;
}
.conteiner {
    width: 320px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0 0 0;
}
.base1 {
    height: 515px;
}
.phone1 {
    display: none;
}
header {
    width: 100%;
    height: 516px;
}
.header_logo {
    font-size: 48px;
    padding-top: 60px;
    position: relative;
    text-align: center;
}
.header_logo p {
    letter-spacing: -0.5px;
    text-shadow: grey 0px 2px 2px;
    margin-left: -16px;
    color: white;
}
.header_logo span {
    text-shadow: none;
    color: rgba(116, 80, 131, 1);
}
.header_menu {
    text-align: center;
}
.header_menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: white;
    margin-top: 24px;
    padding: 0 6px;
}
.header_menu li {
    display: none;
    list-style: none;
}
li.active {
    display: inline-block;
}
.active a {
    border-bottom: 3px solid #d8aee8;
    margin-right: 14px;
}
.phone {
    display: none;
}
.iphone {
    display: none;
}
.menu {
    margin-top: 95px;
}
.menu div {
    display: inline-block;

}
div.slider_img  {
    display: none;
}

.menu_p1 {
    font-size: 37px;
    letter-spacing: -0.49px;
    display: inline-block;
    color: white;
    padding: 26px 20px 0 41px;
    line-height: 1;
    text-shadow: grey 0px 2px 6px;
}
.menu_p2 {
    font-size: 18px;
    display: inline-block;
    color: #d8aee8;
    padding-left: 41px;
    text-shadow: grey 0px 2px 5px;
}
.menu_p3 {
    display: none;
}
.left_img {
    padding-bottom: 6px;
    margin-left: -9px;
}
.right_img {
    display: inline-block;
    padding-bottom: 6px;
}
.slider {
    text-align: center;
    /* padding-top: 78px; */
    margin-right: 4px;
    margin-top: 50px;
}
.slider input {
    display: none;
}
.slider > input + label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background: rgba(90, 90, 90, 0.8);
    cursor: pointer;
    position: relative;
    margin-right: 4px;
    top: 90%;
}
.slider > input + label:hover {
    background: rgba(250, 250, 250, 0.8);
}

.slider > input:checked + label {
    background: rgba(220, 220, 220, 0.8);
}
.base2 {
    height: 597px;
    background: rgba(116, 80, 131, 1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116, 80, 131, 1)), color-stop(41%, rgba(116, 80, 131, 1)), color-stop(100%, rgba(50, 37, 57, 1)));
    background: -webkit-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(116, 80, 131, 1) 41%, rgba(50, 37, 57, 1) 100%);
    background: linear-gradient(to bottom, rgba(116, 80, 131, 1) 0%, rgba(116, 80, 131, 1) 41%, rgba(50, 37, 57, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#745083', endColorstr='#322539', GradientType=0);
    border-top: 1px solid #322539;
    border-bottom: 1px solid white;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.about {
    display: inline-block;
    width: 90%;
    height: 170px;
    position: relative;
    margin: 0 10px 0 10px;
    text-align: left;
    color: white;
}


.icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url("../img/sprite2.png") no-repeat;
}
.icon-1 {
    background-position: 0 0;
}
.icon-2 {
    background-position: -29px 0;
}
.icon-3 {
    background-position: -62px 3px;
}

.about .text {
    padding: 0 0 0px 57px;
    overflow: hidden;
    font-size: 24px;
    height: 75%;
}

.about p {
    font-family: "OpenSansLight", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.about a {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 19px;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: white;
}
.base3 {
    height: 1209px;
    background: #f9f9f9;
}
article p {
    font-family: "OpenSansLight", sans-serif;
    line-height: 20px;
}
.div1 img {
    position: absolute;
    top: 18px;
    left: -25px;
}
.div1 {
    padding: 23px 0 0px 34px;
    position: relative;
    display: inline-block;
    margin: 69px 0 24px 37px;
    width: 227px;
    height: 248px;
    background: white;
}
.div1 h2 {
    display: inline-block;
    color: #828282;
}
.div1 h3 {
    color: #f4d7ff;
    font-size: 24px;
    line-height: 0.8;
    padding-bottom: 7px;
    padding-left: 1px;
}
.div1 p {
    line-height: 24px;
    padding-left: 3px;
    overflow: hidden;
    height: 170px;
    padding-right: 31px;
    letter-spacing: 0.2px;
    color: #676767;
}
.slider1 {
    text-align: center;
    padding-left: 32px;
}
.slider1 input {
    display: none;
}
.slider1 > input + label {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background: rgba(250, 250, 250, 0.8);
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    top: 90%;
}
.slider1 > input + label:hover {
    background: rgba(90, 90, 90, 0.8);
}

.slider1 > input:checked + label {
    background: rgba(90, 90, 90, 0.8);
}
.news h2 {
    font-size: 28px;
    padding: 45px 0 7px 11px;
    letter-spacing: 0.45px;
    color: #676767;
}
.news img {
    position: absolute;
    padding-top: 9px;
    padding-left: 12px;
}
.news h3 {
    font-family: "OpenSansLight", sans-serif;
    font-weight: bolder;
    font-size: 16px;
    padding-left: 79px;
    padding-top: 8px;
    letter-spacing: 0.68px;
    line-height: 1.8;
    width: 154px;
    height: 29px;
    overflow: hidden;
    color: #676767;
}
.news p {
    padding-left: 77px;
    padding-bottom: 2px;
    color: #646464;
    width: 223px;
    height: 20px;
    overflow: hidden;
}
.news a {
    float: right;
    text-decoration: none;
    font-size: 18px;
    margin-right: 34px;
    margin-top: 15px;
    color: #646464;
}
.news2 {
    padding-top: 6px;
}
.news3 {
    padding-top: 11px;
}
.brend {
    margin-top: 120px;
}
.bilabong {
    padding-left: 55px;
}
.dc {
    padding-left: 52px;
}
.broom {
    padding-top: 58px;
    padding-left: 63px;
}
.awsm {
    padding-left: 63px;
}
.racl {
    padding-left: 35px;
    padding-bottom: 21px;
}
.vonzipper {
    padding-top: 40px;
    padding-left: 54px;
}
.base4 {
    display: none;
}
footer {
    background: url("../img/fone2.png") center top no-repeat;
    width: 100%;
    height: 200px;
    text-align: center;
    color: white;
    text-shadow: grey 0 2px 5px;
}
footer p {
    padding-top: 40px;
    font-family: "OpenSansLight", sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 82px;
    letter-spacing: -0.43px;
}
footer span {
    font-family: "OpenSansLight", sans-serif;
    font-size: 13px;
    font-weight: bolder;
    padding-left: 2px;
}
.footer_menu {
    display: none;
}
@media only screen  and (min-width: 480px) and (max-width: 767px) {

    .base1 {
        height: 549px;
    }

    .phone1 {
        display: none;
    }

    .conteiner {
        min-width: 480px;
        height: 766px;
    }

    .header_logo p {
        margin-left: -19px;
    }

    .header_menu {
        position: absolute;
        margin: 12px 120px 0 108px;
        border: 1px solid;
        border-radius: 8px;
        width: 244px;
        height: 248px;
        background: rgba(54, 41, 62, 0.8);
        padding-top: 8px;
        overflow: hidden;
    }

    .header_menu li {
        height: 43px;
        display: block;
        line-height: 32px;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(54, 41, 62, 0.8);
    }

    .header_menu a {
        margin-top: 0;
        margin-right: 0;
    }

    li.select {
        background: rgba(54, 41, 62, 0.9);
        height: 39px;
        border-bottom: 3px solid #b39ac2;
    }

    .slider_img div {
        display: none;
    }

    .menu {
        height: 202px;
        margin-top: 151px;
        text-align: left;
    }

    .phone {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background: url("../img/phone.png") -969px center no-repeat;
        margin-top: 70px;
        height: 313px;
        z-index: -1;
    }

    .menu_p1 {
        padding-left: 11px;
    }

    .menu_p2 {
        padding-left: 11px;
    }

    .left_img {
        margin: 0 0 0 -9px;
        padding-right: 4px;
    }

    .right_img {
        margin: 0 0 0 185px;
    }

    .slider {
        margin: 0 5px 0 0;
        padding-top: 1px;
    }


    .div1 {
        width: 380px;
        height: 250px;
        padding-left: 37px;
        padding-top: 25px;
        margin-bottom: 22px;
    }

    .div1 img {
        left: -26px;
    }

    .div1 h2 {
        font-size: 30px;
    }

    .div1 h3 {
        display: inline-block;
        font-size: 30px;
    }

    .div1 p {
        height: 200px;
        padding: 12px 0 0 0;
        letter-spacing: -0.3px;
        width: 353px;
    }

    .news h2 {
        padding-left: 75px;
    }

    .news img {
        padding-left: 75px;
        padding-top: 7px;
    }

    .news h3 {
        padding-left: 141px;
        padding-top: 7px;
    }

    .news p {
        padding-left: 140px;
    }

    .news2 img {
        padding-left: 75px;
        padding-top: 11px;
    }

    .news2 h3 {
        padding-left: 141px;
        padding-top: 11px;
    }

    .news3 img {
        padding-top: 4px;
    }

    .news3 h3 {
        padding-left: 141px;
        padding-top: 3px;
    }

    .news a {
        margin-top: 14px;
        margin-right: 69px;
    }

    .brend {
        margin-top: 40px;
    }

    .bilabong {
        padding-left: 75px;
    }

    .broom {
        padding-left: 52px;
    }

    .awsm {
        padding-left: 58px;
    }

    .racl {
        padding-left: 58px;
        padding-bottom: 21px;
    }

    .vonzipper {
        padding-top: 25px;
        padding-left: 53px;
        padding-bottom: 1px;
    }

    .base4 {
        height: 670px;
        background: #ececec;
        display: block;
    }

    .content_pigbuller, .content_recent {
        display: none;
    }

    .base3 {
        height: 1019px;
    }

    .content h2 {
        font-weight: lighter;
        padding: 78px 0 0 9px;
    }

    .content p, .content2 p, .content3 p {
        font-family: "OpenSansLight", sans-serif;
        padding-top: 9px;
        padding-left: 10px;
        width: 452px;
        line-height: 24px;
        color: #828282;
    }

    .content2 h2 {
        font-weight: lighter;
        padding: 27px 0 0 9px;
    }

    .content3 h2 {
        font-weight: lighter;
        padding: 30px 0 0 9px;
    }

    .footer_menu {
        display: inline-block;
    }

    .footer_menu li {
        display: inline-block;
        margin-top: 43px;
        margin-right: 9px;
        margin-left: 11px;
    }

    .footer_menu a {
        text-decoration: none;
        color: white;
        font-size: 21px;
    }

    footer p {
        padding-top: 31px;
        padding-left: 162px;
    }
}
@media only screen and (min-width: 768px)  and (max-width: 959px) {

    .conteiner {
        width: 768px;
        height: 100%;
        text-align: left;
    }

    .header_logo {
        text-align: left;
        padding-left: 26px;
        padding-top: 61px;
    }

    .header_logo span {
        padding-left: 3px;
    }

    .header_menu {
        text-align: left;
    }

    .header_menu a {
        margin-right: 32px;
        padding-left: 11px;
        margin-top: 22px;
    }

    .header_menu li {
        display: inline-block;
    }

    .phone1 {
        display: none;
    }

    .phone {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background: url("../img/phone2.png") -825px center no-repeat;
        margin-top: 48px;
        height: 432px;
        z-index: -1;
    }

    .slider_img div {
        display: none;
    }

    .menu_p {
        width: 419px;
    }

    .menu {
        margin-top: 141px;
    }

    .menu_p1 {
        font-size: 48px;
        padding: 27px 0 0 21px;
    }

    .menu_p2 {
        font-size: 25px;
        padding-top: 5px;
        padding-left: 18px;
        letter-spacing: -0.28px;
        width: 281px;
        height: 28px;
        overflow: hidden;
    }

    .menu_p3 {
        display: block;
        font-family: "OpenSansLight", sans-serif;
        color: white;
        width: 280px;
        padding-left: 18px;
        padding-top: 0px;
        line-height: 1.69;
        letter-spacing: -0.12px;
        overflow: hidden;
        height: 125px;
    }

    .slider_img {
        display: none;
    }

    .left_img {
        padding-bottom: 92px;
    }

    .right_img {
        position: absolute;
        top: 484px;
        right: 7px;
    }

    .slider {
        margin-left: 391px;
        margin-top: 130px;
    }

    .base2 {
        height: 342px;
    }

    .base1 {
        height: 798px;
    }

    .about {
        width: 27%;
    }

    .div1 {
        width: 275px;
        height: 245px;
        margin: 99px 0 24px 37px;
        padding: 28px 0 0 37px;
        position: absolute;
    }

    .div1 h3 {
        padding-bottom: 12px;
    }

    .div1 p {
        height: 143px;
        padding: 0 0 0 0;
        width: 271px;
    }

    .slider1 {
        text-align: left;
        padding-left: 154px;
        position: absolute;
        top: 395px;
    }

    .news {
        float: right;
        padding-right: 73px;
        margin-top: 127px;
    }

    .news h2 {
        padding: 0 0 7px 11px;
        letter-spacing: 0.6px;
    }

    .news2 img {
        padding: 11px 0 0 11px;
    }

    .news2 h3 {
        padding: 9px 0 0 78px;
    }

    .news3 img {
        padding: 5px 0 0 11px;
    }

    .news3 h3 {
        padding: 4px 0 0 78px;
    }

    .news a {
        margin-right: -39px;
        margin-top: 14px;
    }

    .brend {
        margin: 0 auto;
        /* padding-top: 61px; */
        display: inline-block;
        position: relative;
    }

    .bilabong {
        padding-left: 15px;
    }

    .broom {
        padding-left: 52px;
    }

    .racl {
        padding-left: 54px;
    }

    .base4 {
        height: 397px;
        background: #ececec;
        display: block;
    }

    .base3 {
        height: 606px;
        position: relative;
    }

    .content_pigbuller {
        display: none;
    }

    .content_recent {
        display: none;
    }

    .content h2 {
        font-weight: lighter;
        padding: 100px 0 0 10px;
    }

    .content p, .content2 p, .content3 p {
        font-family: "OpenSansLight", sans-serif;
        padding: 9px 46px 0 10px;
        width: 198px;
        height: 164px;
        line-height: 24px;
        color: #828282;
        display: inline-block;
        overflow: hidden;
        letter-spacing: 0.42px;
    }

    .content2 h2 {
        font-weight: lighter;
        padding: 52px 0 0 20px;
    }

    .content3 h2 {
        font-weight: lighter;
        padding: 54px 0 0 28px;
    }

    .content, .content2, .content3 {
        display: inline-block;
    }

    .footer_menu {
        display: inline-block;
        text-align: left;
        width: 768px;
    }

    .footer_menu ul {
        float: left;
    }

    .footer_menu li {
        display: inline-block;
        margin-top: 43px;
        margin-right: 29px;
        margin-left: 10px;
        text-align: left;
    }

    .footer_menu a {
        text-decoration: none;
        color: white;
        font-size: 21px;
    }

    footer p {
        padding-top: 29px;
        text-align: right;
        padding-right: 11px;
    }
}
@media only screen and (min-width: 960px) {

    .conteiner {
        width: 960px;
        position: relative;
    }

    .base1 {
        height: 846px;
    }

    .header_logo {
        padding-left: 15px;
        display: inline-block;
    }

    .header_logo span {
        padding-left: 2px;
    }

    .header_menu {
        display: inline-block;
        vertical-align: top;
        margin-top: 48px;
    }

    .header_menu li {
        display: inline-block;
    }

    li.active {
        padding-left: 165px;
    }

    li.select {
        padding-left: 23px;
        padding-right: 37px;
    }

    li.select1 {
        padding-left: 38px;
    }

    li.select2 {
        padding-left: 38px;
    }

    li.select3 {
        padding-left: 31px;
    }

    .phone1 {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        background: url("../img/phone3.png") -257px center repeat;
        margin-top: 265px;
        height: 426px;
        z-index: -1;
    }

    .phone {
        display: none;
    }

    .menu {
        margin-top: 140px;
        position: relative;
        height: 444px;
    }

    .menu_p {
        width: 500px;
    }

    .menu_p1 {
        padding: 100px 0 0 0;
        font-size: 59px;
        letter-spacing: -0.25px;
        margin: 0 0 0 0;
    }

    .menu_p2 {
        line-height: 1;
        font-size: 32px;
        padding-left: 0;
        font-weight: 500;
        padding-top: 0;
    }

    .menu_p3 {
        display: block;
        font-family: "OpenSansLight", sans-serif;
        color: white;
        padding-top: 4px;
        letter-spacing: -0.12px;
        line-height: 1.45;
        font-size: 17px;
        padding-left: 0;
    }

    div.slider_img {
        display: inline-block;
        float: right;
        margin-right: 70px;
    }

    .left_img {
        position: absolute;
        bottom: 199px;
        left: -150px;
    }

    .right_img {
        position: absolute;
        bottom: 199px;
        right: -138px;
    }
    .iphone {
        height: 100%;
        display: inline-block;
        position: absolute;
    }
    .slider {
        /* padding-top: 0px; */
        margin-left: 556px;
    }
    .base2 {
        height: 341px;
    }

    .about {
        width: 27%;
    }
    .text {
        font-size: 30px;
    }
    .about p {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.8px;
    }
    .base3 {
        height: 606px;
    }
    .div1 {
        width: 415px;
        padding: 0 0 0 0;
        margin: 99px 0 0 27px;
        height: 227px;
    }
    .div1 h2 {
        padding: 27px 0 0 37px;
        font-size: 29px;
    }
    .div1 img {
        left: -27px;
    }
    .div1 h3 {
        display: inline-block;
        font-size: 27px;
        padding-left: 6px;
        letter-spacing: 0.8px;
    }
    .div1 p {
        padding: 4px 0 0 36px;
        font-size: 17px;
        letter-spacing: 0.1px;
    }
    .news {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 126px;
    }
    .news1 h2 {
        padding: 0 0 16px 59px;
    }
    .news1 h3 {
        padding: 0 0 0 126px;
        font-size: 17px;
        width: 380px;
        letter-spacing: 0.2px;
        line-height: 2.2;
    }
    .news1 p {
        padding: 0 0 1px 124px;
        width: 376px;
        height: 16px;
    }
    .news1 img {
        padding: 0px 0 0px 59px;
    }

    .news1 {
        padding: 0px 0 16px 0;
        display: inline-block;
    }
    .news2 {
        padding: 0px 0 0px 0;
    }
    .news2 img {
        padding: 6px 0 0 59px;
    }
    .news2 h3 {
        padding: 0px 0 0px 126px;
        font-size: 17px;
        width: 380px;
        letter-spacing: 0.2px;
        height: 29px;
        line-height: normal;
    }
    .news2 p {
        padding: 0 0 3px 126px;
        height: 16px;
        width: 376px;
        line-height: 1;
    }
    .news3 {
        padding: 0px 0 0px 0;
    }
    .news3 img {
        padding: 20px 0 0 60px;
    }
    .news3 h3 {
        padding: 0 0 0 126px;
        font-size: 17px;
        width: 380px;
        letter-spacing: 0.2px;
        height: 29px;
        line-height: 2.8;
    }
    .news3 p {
        padding: 0 0 0 126px;
        height: 23px;
        width: 376px;
        line-height: 2;
    }
    .news a {
        margin: 38px 0 0 0;
    }
    .slider1 {
        display: inline-block;
        padding-left: 0;
        position: absolute;
        left: 200px;
        margin-top: 395px;
    }
    .brend {
        margin: 60px 0 0 39px;
    }

    .dc {
        padding-left: 63px;
    }

    .awsm {
        padding-left: 70px;
    }

    .racl {
        padding-left: 68px;
    }

    .vonzipper {
        padding-left: 62px;
    }

    .base4 {
        height: 397px;
        background: #ececec;
        display: block;
    }

    .content {
        display: none;
    }

    .content2 {
        display: none;
    }

    .content_recent, .content_pigbuller, .content3 {
        display: inline-block;
        width: 316px;
    }

    .content_pigbuller p, .content_recent p, .content3 p {
        font-family: "OpenSansLight", sans-serif;
        line-height: 24px;
        color: #828282;
        display: inline-block;
        overflow: hidden;
        letter-spacing: 0.42px;
        font-size: 17px;
    }

    .content_pigbuller p {
        padding-top: 5px;
        height: 124px;
    }

    .content_recent p {
        padding: 10px 0 0 21px;
        height: 172px;
    }

    .content3 p {
        padding: 10px 0 0 43px;
        height: 172px;
    }

    .content_pigbuller h2 {
        font-size: 47px;
        display: inline-block;
        position: absolute;
        left: 0;
        padding-top: 91px;
        color: #646464;
        font-weight: 300;
    }

    .content_pigbuller h3 {
        padding-top: 158px;
        letter-spacing: 1.4px;
        font-size: 18px;
        font-style: italic;
        color: grey;
    }

    .content_pigbuller span {
        color: darkgray;
    }

    .content_recent h2 {
        display: inline-block;
        padding-left: 20px;
        font-size: 26px;
        letter-spacing: 1.4px;
        color: #646464;
    }

    .content3 h2 {
        padding: 0 0 0 42px;
        display: inline-block;
        font-size: 26px;
        letter-spacing: 1.4px;
        color: #646464;
    }

    .footer_menu {
        display: inline-block;
        text-align: left;
        width: 979px;
    }

    .footer_menu ul {
        float: left;
    }

    .footer_menu li {
        display: inline-block;
        margin-top: 43px;
        margin-right: 31px;
        margin-left: 10px;
        text-align: left;
    }

    .footer_menu a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    footer p {
        padding-top: 0px;
        text-align: right;
        padding-right: 457px;
    }
}